/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #CCC;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6C757D;
}

/* Calendar table */
#calendarContainer {
  height: calc(100vh - 120px);
  overflow-y: auto;
}
.calendarHeader {
  text-align: center;
}
.calendarHeader.current {
  color: #0D6EFD;
  border-bottom: 3px solid #0D6EFD !important;
}
.calendarHeader:nth-child(1) {
  text-align: left;
}

#calendar td{
  position: relative;
  width: calc(100% / 8);
  height: 45px;
}
.activity {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 5px);
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(123, 158, 255);
  transition: .3s;
  cursor: pointer;
}
.activity:hover {
  box-shadow: 0 0 20px rgb(0, 0, 0, .3);
}