/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #CCC;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6C757D;
}

/* Calendar table */
#calendarContainer {
  height: calc(100vh - 120px);
  overflow-y: auto;
}
.week {
  text-align: center;
}
.week td {
  position: relative;
  width: calc(100% / 7);
}
.week th:nth-child(1),
.week td:nth-child(1) {
  width: 60px;
}
/* ---- */
/* task bubble */
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 2px;
  width: calc(100% - 5px);
  padding: 2px 5px;
  font-size: 9pt;
  border-radius: 3px;
  background-color: rgb(123, 158, 255);
  transition: .3s;
  cursor: pointer;
  z-index: 1000;
}
.task:hover {
  box-shadow: 0 0 20px rgb(0, 0, 0, .3);
}
/* ---- */
/* ---- */