/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #CCC;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6C757D;
}

/* Calendar table */
#calendarContainer {
  position: relative;
  height: 620px;
  overflow-y: auto;
}
.calendarHeader {
  text-align: center;
}
.calendarHeader.current {
  border-bottom: 3px solid #0D6EFD !important;
}
.calendarHeader:nth-child(1) {
  text-align: left;
}